<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles2.css" />
  </head>
  <body class="marks">
    <input class="marks" type="text" id="studentEmail" placeholder="Email" />
    <h1 class="marks" id="subjectName">{{subjectName}}</h1>
    <form class="marks" id="marksEntry">
      {% for testName, questions in data["tests"].items() %}
      <div id="{{testName}}" class="test">
        <h2>{{testName}}</h2>
        {% for question in questions %}
        <div class="questionInput">
          <span class="marks">{{question["questionName"]}}</span>
          <input class="marks maxMarks" type="text" value="{{question["maxMarks"]}}"
          disabled>
          <input type="number" class="marksInput" />
        </div>
        {% endfor %}
      </div>
      {% endfor %} {% for quizName, questions in data["quizzes"].items() %}
      <div id="{{quizName}}" class="quiz">
        <h2 class="marksInput">{{quizName}}</h2>
        {% for question in questions %}
        <div class="questionInput">
          <span class="marksInput">{{question["questionName"]}}</span>
          <input class="marks maxMarks" type="text" value="{{question["maxMarks"]}}"
          disabled>
          <input type="number" class="marksInput" />
        </div>
        {% endfor %}
      </div>
      {% endfor %}

      <h2 class="marksInput">EL</h2>
      <div class="el">
        {% for question in data["el"] %}
        <div class="questionInput">
          <span class="marksInput">{{question["questionName"]}}</span>
          <input class="maxMarks" type="text" value="{{question["maxMarks"]}}"
          disabled>
          <input type="number" class="marksInput" />
        </div>
        {% endfor %}
      </div>
    </form>
    <button id="submitMarks">Submit</button>
    <script src="../static/js/marksEntry.js"></script>
  </body>
</html>
